body {
    background-color: pink ;
}


h1 {
    color: violet;
    font-size: 50px;
    text-align: center;
}

p{
    color: rgba(234, 0, 255, 0.116);
    font-size: 30px;
    text-align: justify;
}

